<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="MailSender.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <MailSender.Properties.Settings>
            <setting name="smtpHost" serializeAs="String">
                <value />
            </setting>
            <setting name="smtpPort" serializeAs="String">
                <value>25</value>
            </setting>
            <setting name="smtpUsername" serializeAs="String">
                <value />
            </setting>
            <setting name="smtpPassword" serializeAs="String">
                <value />
            </setting>
            <setting name="fromName" serializeAs="String">
                <value>µTorrent</value>
            </setting>
            <setting name="fromAddress" serializeAs="String">
                <value />
            </setting>
            <setting name="toName" serializeAs="String">
                <value />
            </setting>
            <setting name="toAddress" serializeAs="String">
                <value />
            </setting>
        </MailSender.Properties.Settings>
    </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="BouncyCastle.Crypto" publicKeyToken="0e99375e54769942" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.8.5.0" newVersion="1.8.5.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
