name: .NET

on:
  push:
    branches: [ master ]
  workflow_dispatch:

jobs:
  build:

    runs-on: windows-latest

    steps:
    - name: Clone
      uses: actions/checkout@v4

    - name: Restore
      run: dotnet restore --locked-mode

    - name: Build
      run: dotnet build MailSender-NetCore --no-restore --runtime win-x64 --configuration Release --self-contained false

    - name: Publish
      run: dotnet publish MailSender-NetCore --no-build --configuration Release -p:PublishSingleFile=true --runtime win-x64 --self-contained false
      
    - name: Upload build artifacts
      uses: actions/upload-artifact@v4
      with:
        name: MailSender
        path: MailSender-NetCore\bin\Release\net10.0-windows\win-x64\publish\*.exe
        if-no-files-found: error